@using Microsoft.CognitiveServices.Speech
@inherits ReactiveComponentBase<AddCoachInstanceViewModel>
@if (ViewModel != null)
{
    <AlertView Alert="ViewModel.Alert" />
    <h3>Coach Instances <button class="btn btn-primary" @onclick="ViewModel.Open.BindCommand<MouseEventArgs>()"><i class="fa-solid fa-plus"></i></button></h3>
    <TelerikDialog @bind-Visible="ViewModel.IsOpen" Title="Add Coach">
        <DialogContent>
            <TelerikForm Model="ViewModel.Data" OnValidSubmit="ViewModel.Add.BindCommand<EditContext>()">
                <FormValidation>
                    <DataAnnotationsValidator />
                </FormValidation>
                <FormItems>
                    <FormItem Field="@nameof(CoachInstance.Name)" LabelText="Name" />
                    <FormItem Field="@nameof(CoachInstance.Slug)" LabelText="Slug" />
                    <FormItem Field="@nameof(CoachInstance.NativeLocale)" LabelText="Native Locale">
                        <Template>
                            <TelerikDropDownList @bind-Value="ViewModel.SelectedLocale"
                                                 Data="ViewModel.Locales" TItem="string" TValue="string" ValueField="ShortName">
                                <ItemTemplate>
                                    @context
                                </ItemTemplate>
                                <ValueTemplate>
                                    @context
                                </ValueTemplate>
                            </TelerikDropDownList>
                        </Template>
                    </FormItem>
                    <FormItem Field="@nameof(CoachInstance.DefaultVoiceName)" LabelText="Default Voice Name">
                        <Template>
                            <TelerikDropDownList @bind-Value="ViewModel.SelectedVoice"
                                                 Data="ViewModel.Voices" TItem="VoiceInfo" TValue="string" ValueField="ShortName">
                                <ItemTemplate>
                                    @context.LocalName (@context.Locale)
                                </ItemTemplate>
                                <ValueTemplate>
                                    @context.LocalName (@context.Locale)
                                </ValueTemplate>
                            </TelerikDropDownList>
                        </Template>
                    </FormItem>
                </FormItems>
            </TelerikForm>
        </DialogContent>
        <DialogButtons>
            <TelerikButton OnClick="ViewModel.Cancel.BindCommand<MouseEventArgs>()">Cancel</TelerikButton>
        </DialogButtons>
    </TelerikDialog>
}