@page "/profile"
@using Microsoft.CognitiveServices.Speech
@inherits ReactiveInjectableComponentBase<UserViewModel>
@if(ViewModel != null)
{
    <AlertView Alert="ViewModel.Alert"/>
}
@if (ViewModel != null && ViewModel.Data != null)
{
    <TelerikForm Model="ViewModel.Data" OnValidSubmit="ViewModel.Save.BindCommand<EditContext>()">
        <FormValidation>
            <DataAnnotationsValidator />
        </FormValidation>
        <FormItems>
            <FormItem Field="@nameof(User.LastName)" LabelText="Last Name" />
            <FormItem Field="@nameof(User.FirstName)" LabelText="First Name"/>
            <FormItem Field="@nameof(User.Email)" LabelText="Email" />
            <FormItem Field="@nameof(User.Locale)" LabelText="Locale">
                <Template>
                    <TelerikDropDownList @bind-Value="ViewModel.SelectedLocale"
                                         Data="ViewModel.Locales" TItem="string" TValue="string">
                        <ItemTemplate>
                            @context
                        </ItemTemplate>
                        <ValueTemplate>
                            @context
                        </ValueTemplate>
                    </TelerikDropDownList>
                </Template>
            </FormItem>
            <FormItem Field="@nameof(User.DefaultVoiceName)" LabelText="Default Voice Name">
                <Template>
                    <TelerikDropDownList @bind-Value="ViewModel.SelectedVoice"
                                         Data="ViewModel.Voices" TItem="VoiceInfo" TValue="string" ValueField="ShortName">
                        <ItemTemplate>
                            @context.LocalName (@context.Locale)
                        </ItemTemplate>
                        <ValueTemplate>
                            @context.LocalName (@context.Locale)
                        </ValueTemplate>
                    </TelerikDropDownList>
                </Template>
            </FormItem>
            <FormItem Field="@nameof(User.PhoneNumber)" LabelText="Phone" />
            <FormItem Field="@nameof(User.Address)" LabelText="Address" />
            <FormItem Field="@nameof(User.City)" LabelText="City" />
            <FormItem Field="@nameof(User.State)" LabelText="State" />
            <FormItem Field="@nameof(User.ZipCode)" LabelText="ZipCode" />
            <FormItem Field="@nameof(User.Country)" LabelText="Country" />
            <FormItem Field="@nameof(User.Gender)" LabelText="Gender"/>
            <FormItem Field="@nameof(User.DateOfBirth)" LabelText="Date of Birth" />
        </FormItems>
</TelerikForm>
<h4>Upload Profile Image</h4>
    <InputFile OnChange="ViewModel.SetProfileImage.BindUploadBuiltInCommand(this)" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff,.svg,.webp" />
    @if(!string.IsNullOrEmpty(ViewModel.Data.ProfileImageId))
    {
        <img src="/api/images/@(ViewModel.Data.ProfileImageId)" alt="Profile Image" />
    }
}
@code {
    protected async override Task OnInitializedAsync()
    {
        if(ViewModel != null)
        {
            await ViewModel.Load.Execute().GetAwaiter();
        }
        await base.OnInitializedAsync();
    }
}
